.*.swp
*.o
*.la
*.lo
*.log
.deps
.libs
.dirstamp
Makefile.in
aclocal.m4
depcomp
install-sh
missing
Makefile
autom4te.cache
builtin_unittests
bashast.g
bashast.tokens
bashast/.DS_Store
bashast/*.ebuild
bashast/c_runtime
bashast/output
bashast/portage_parse
bashast/tmp/
bashast/tokens.png
bashastLexer.*
bashastParser.*
coding_standard/*.pdf
coding_standard/*.log
coding_standard/*.aux
config.*
*.run
configure
tests/a.out
*.temp
bashast/output.g
.DS_Store
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
libtool
ltmain.sh
INSTALL
